/* estilos del componete de validacion */
#contacto{
    text-align: center;
}

.row span {
    /* padding-top: 25px; */
    font-size: 2em;
}

.App{
    padding: 3%;
}

.Sign1{
    text-align: left;
    margin-left: 5px;
}

.form-control{
    height: 43px;
}

.vacio{
    margin: 5px 5%;
}

.btnNext {
    width: 100%;
    font-size: 40px;
    color: white;
    font-family: 'Arial', cursive;
    text-align: center;
    margin-top: 60px;
    background: -webkit-radial-gradient(#ff00d4, #e0526c);
    background: -moz-radial-gradient(#ff00d4, #e0526c);
}
.num{
    height: 50px;
}
